<%- include("header") -%>

      <section id="hero" class="d-flex align-items-center">
        <div class="container-fluid">
          <div class="row">
            <div
              class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
            >
              <h1>The Blog</h1>
              <h2>
                  Discover the tech world with us. Learn about the latest trends and technologies in the industry.
                  Explore the latest articles from our talented bloggers.
              </h2>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 mx-auto hero-img">
              <img src="assets/img/blog2.gif" class=" img-fluid float-end hero-img hero-desktop" alt="" />
              <img src="assets/img/blog2.gif" class=" img-fluid mx-auto hero-img hero-mobile" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- End Hero -->
  
      <main id="main">
  
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="blogs section-bg">
          
          <div class="container-fluid">
            <div class="section-title">
              <span>BLOGS</span>
              <h2>BLOGS</h2>
              <p>
               Our latest blogs.
              </p>
            </div>
  
            <!-- Blog data from json file -->
  
        
            <div class="row row-col-3 " id="card-area">
              <% blog.forEach(function(blog) { %>

                <div class="col  d-flex justify-content-around ">
                  <div class="card" style="width: 20rem; margin-bottom: 2rem">
                  <div class="card-img">
                  <img src="<%= blog.image %>" alt="Image" class="img-fluid card-img-top">
                  </div>
                  <div class="card-body d-flex flex-column">
                  <h3 class="card-title"><%= blog.title %></h3>
                  <p class="card-text"><%= blog.content.substring(0,190) + "..." %></p>
                  <a href="<%= blog.url %>" class="readmore mt-auto ">Read More <i class="bi bi-arrow-right-short"></i></a>
                  </div>
                  </div>
                  </div>

            <% }) %>
            </div>
            <!-- <div class="btn btn-outline-primary btn-lg" >Load More</div> -->
        </section>
        <!-- End Testimonials Section -->
      </main>
      <!-- End #main -->

<%- include("footer") -%>